<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.september.store.mapper.StoreShopMapper">

	<resultMap type="StoreShop" id="StoreShopResult">
		<id     property="id"         column="id"        />
		<result property="shopTitle"       column="shop_title"      />
		<result property="shopPhoto"       column="shop_photo"      />
		<result property="shopType"       column="shop_type"      />
		<result property="isHot"     column="is_hot"    />
		<result property="shopPrice"     column="shop_price"    />
		<result property="shopArea"     column="shop_area"    />
		<result property="shopOwner"     column="shop_owner"    />
		<result property="shopDistrict"     column="shop_district"    />
		<result property="shopLat"     column="shop_lat"    />
		<result property="shopLon"     column="shop_lon"    />
		<result property="shopLever"     column="shop_lever"    />
		<result property="addTime"     column="add_time"    />
	</resultMap>

	<sql id="selectStoreIndexTypeVo">
        select id, shop_title,shop_photo, shop_type,is_hot, shop_price, shop_area, shop_owner, shop_district,shop_lat, shop_lon,shop_lever,add_time
		from store_shop
    </sql>

	<select id="getAllStores" resultMap="StoreShopResult">
		select *
		from store_shop
	</select>

	<select id="isHot" parameterType="com.september.store.domain.shop.request.HotShopRequest" resultMap="StoreShopResult">
		select *
		from store_shop
		<where>
			<if test="shopTitle != null">
				AND shop_title LIKE CONCAT('%', #{shopTitle}, '%')
			</if>
			<if test="shopAreaMin != null and shopAreaMax != null">
				AND shop_area BETWEEN #{shopAreaMin} AND #{shopAreaMax}
			</if>
			<if test="shopPriceMin != null and shopPriceMax != null">
				AND shop_price BETWEEN #{shopPriceMin} AND #{shopPriceMax}
			</if>
			<if test="shopDistrict != null">
				AND shop_district = #{shopDistrict}
			</if>
		</where>
		order by is_hot desc,
		         add_time desc;
	</select>



	


</mapper> 