<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.september.sunrise.kk.mapper.KkCustomerMapper">

	<select id="findAllCustomers" resultType="com.september.sunrise.kk.domain.KkCustomer">
		SELECT *
		FROM kk_customer
		WHERE 1=1
		ORDER BY register_time DESC
	</select>


	<!-- 扣除顾客余额 -->
	<update id="decreaseRemainingBalance">
		UPDATE kk_customer
		SET remaining_balance = remaining_balance - #{amount},
			totalConsume = totalConsume + #{amount}
		WHERE id = #{customerId} AND remaining_balance >= #{amount}
	</update>


</mapper>
