<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.september.sunrise.kk.mapper.KkRoleMenuMapper">

	<!-- 根据角色ID查询菜单ID -->
	<select id="findMenuIdsByRoleId" resultType="long">
		SELECT menu_id
		FROM kk_role_menu
		WHERE role_id = #{roleId}
	</select>

</mapper>

