<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.september.sunrise.kk.mapper.KkUserRoleMapper">

	<!-- 根据用户ID查询角色ID列表 -->
	<select id="findRoleIdsByUserId" resultType="long">
		SELECT role_id
		FROM kk_user_role
		WHERE user_id = #{userId}
	</select>

	<!-- 根据角色ID查询用户ID列表（可选备用） -->
	<select id="findUserIdsByRoleId" resultType="long">
		SELECT user_id
		FROM kk_user_role
		WHERE role_id = #{roleId}
	</select>

</mapper>

