<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.september.sunrise.kk.mapper.KkUserMapper">

	<resultMap id="BaseResultMap" type="com.september.sunrise.kk.domain.KkUser">
		<id property="id" column="id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="nickname" column="nickname"/>
		<result property="roleCode" column="role_code"/>
		<result property="roleName" column="role_name"/>
		<result property="status" column="status"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="isDelete" column="is_delete"/>
		<result property="gender" column="gender"/>
		<result property="wechat" column="wechat"/>
		<result property="phone" column="phone"/>
		<result property="alipayAccount" column="alipay_account"/>
		<result property="alipayName" column="alipay_name"/>
		<result property="commissionRate" column="commission_rate"/>
		<result property="totalIncome" column="total_income"/>
		<result property="withdrawnAmount" column="withdrawn_amount"/>
		<result property="remainingAmount" column="remaining_amount"/>
		<result property="withdrawLock" column="withdraw_lock"/>
		<result property="intro" column="intro"/>
		<result property="avatar" column="avatar"/>
		<result property="remark" column="remark"/>
		<result property="dispatchCount" column="dispatch_count"/>
	</resultMap>

	<select id="selectByUsername" resultMap="BaseResultMap" parameterType="string">
		SELECT *
		FROM kk_user
		WHERE username = #{username}
			LIMIT 1
	</select>

	<!-- 客服列表 -->
	<select id="selectManagerList" resultMap="BaseResultMap" parameterType="int">
		SELECT id, nickname, status, username, role_name, dispatch_count
		FROM kk_user
		WHERE role_code = 'MANAGER'
		<if test="status != null">
			AND status = #{status}
		</if>
		ORDER BY id DESC
	</select>

	<!-- 新增客服 -->
	<insert id="insertManager" parameterType="com.september.sunrise.kk.domain.KkUser" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO kk_user(username, password, nickname, role_code, role_name, status, create_time, update_time)
		VALUES(#{username}, #{password}, #{nickname}, 'MANAGER', '客服', 1, NOW(), NOW())
	</insert>

	<!-- 删除客服 -->
	<delete id="deleteManager" parameterType="long">
		DELETE FROM kk_user WHERE id = #{id} AND role_code = 'MANAGER'
	</delete>

	<!-- 离职 -->
	<update id="updateManagerStatus" parameterType="long">
		UPDATE kk_user
		SET status = 2,
			role_code = 'CUSTOMERS',
			role_name = '顾客',
			update_time = NOW()
		WHERE id = #{id} AND role_code = 'MANAGER'
	</update>

</mapper>
