<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.store.mapper.StoreShopMapper">

	<resultMap type="StoreShop" id="StoreShopResult">
		<id     property="id"         column="id"        />
		<result property="shopTitle"       column="shop_title"      />
		<result property="shopType"       column="shop_type"      />
		<result property="isHot"     column="is_hot"    />
		<result property="shopPrice"     column="shop_price"    />
		<result property="shopArea"     column="shop_area"    />
		<result property="shopOwner"     column="shop_owner"    />
		<result property="shopLat"     column="shop_lat"    />
		<result property="shopLon"     column="shop_lon"    />
		<result property="shopLever"     column="shop_lever"    />
		<result property="addTime"     column="add_time"    />
	</resultMap>

	<sql id="selectStoreIndexTypeVo">
        select id, shop_title, shop_type,is_hot, shop_price, shop_area, shop_owner, shop_lat, shop_lon,shop_lever,add_time
		from store_shop
    </sql>

	<select id="getAllStores" resultType="StoreShop">
		select *
		from store_shop
	</select>

	<select id="isHot" resultType="StoreShop">
		select *
		from store_shop
		order by is_hot desc,
		         add_time desc;
	</select>



	


</mapper> 